 <html>
   <link rel="stylesheet" href="/css/loyout.css">
 
    <body>
        <!-- This Is Partial -->
        <%- include('_header.ejs'); %>
    

        <!-- body is function in which any html calling file will be enjected -->
        <%- body %>


        
    
        <!-- This is Partial -->
        <%- include('_footer.ejs'); %>
    
    </body>


 </html>