
<link rel="stylesheet" href="/css/login.css">
<div id="login">
    

    <form action="/log-in-user" method="POST" id="form">
         <div id="head">
            Log IN
         </div>     
         <input type="email" name="email" placeholder="Enter you Email" required>
         <div></div>
         <input type="password" name="password" placeholder="Enter Password" required>
         <div></div>
         <button type="submit">LOG IN</button>

    </form>

    <div id="singup">
         <a href="/singup">
           SingUp👍🏻
         </a>
    </div>
</div>